/** @jsxImportSource @emotion/react */
import { css } from '@emotion/react';

<%= components %>

<%= states %>

const <%= name %> = (<%= props %>) => {
  return (
    <div css={main}>
      <%= jsx %>
    </div>
  );
}

const main = css`
  margin: 0;
`;

export default <%= name %>
